bin
obj
*.user
*.suo
*.log
*.bak
*.ncrunchproject
*.ncrunchsolution
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.crunchsolution.cache
*.dotCover
Thumbs.db
Debug/
Release/
_ReSharper*/
_NCrunch*/
appSettings.config