<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  
  <appSettings configSource="appSettings.config">
    <!-- Application settings for user account details not included to prevent me from -->
    <!-- accidentally posting account and password info.  -->

    <!-- Add a appSettings.config file to the project -->
    <!-- Set the file to be copied on build. -->

    <!-- Use the settings for your Tinamous.com account such as -->
    <!-- shown in the example below. Wrap them in a appSettings section -->


    <!-- Tinamous account address for MQTT Server -->
    <!-- <add key="Tinamous.Url" value="ddd.Tinamous.com"/> -->
    <!-- Device username and password -->
    <!-- Remember for MQTT to include account as part of the username -->
    <!-- <add key="Tinamous.Username" value="Kettle.ddd" /> -->
    <!-- <add key="Tinamous.Password" value="nT8UdowESV1pZJnXbaYQ" /> -->

    <!-- Also include iKettle discover network settings -->
    <!-- <add key="iKettle.NetworkTemplate" value="10.0.0.{0}"/> -->
    <!-- If you know the ip address, or have a lot of devices at a low IP address skip over discovery of the first n IP addresses -->
    <!-- <add key="iKettle.StartAt" value="1"/> -->

  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/logs"/>
    <targets async="true">
      <target name="file" xsi:type="File" fileName="${logDirectory}/${shortdate}.txt" layout="${longdate}|${level:uppercase=true}|${message}" />
      <target name="traceFile" xsi:type="File" fileName="${logDirectory}/${shortdate}.Trace.txt" layout="${longdate}|${message}" />
      <target name="errorFile" xsi:type="File" fileName="${logDirectory}/${shortdate}.Error.txt" layout="${longdate}|${level:uppercase=true}|${message}|${exception}" />
      <target name="console" xsi:type="Console" layout="${message}" />
    </targets>
    <rules>
      <!-- <logger name="*" minlevel="Debug" writeTo="file" /> -->
      <logger name="*" minlevel="Error" writeTo="errorFile" />
      <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="file" />
      <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="traceFile" />

      <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="console" />
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>